@import 'variables';

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  background: var(--app-bg-gradient); 
  color: var(--text-main);
  min-height: 100vh;
}


::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--text-disabled);
  border-radius: $border-radius-sm;
}