$active-lime: #D2F561; 

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
  background: transparent;
  width: 60px; 
  height: calc(100vh - 100px); 
  border-radius: 50px;
  z-index: 50;

  .sidebar-nav {
    width: 100%;
    background: #FFFFFF9C;
    
    backdrop-filter: blur(23.399999618530273px);
    border: 1px solid #0000001A;
    border-radius: 50px;
    padding: 0px 0px 24px 0; 

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px; 
      @media (min-width: 1440px) {
gap:30px;
  }
    }

    li {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;

      border-radius: 50%; 
      color: #333; 
      transition: color 0.3s ease; 
      position: relative; 
      background: #fff; 


      .icon-wrapper {
        position: relative;
        z-index: 2;
        display: flex;
      }


      .active-indicator {
        position: absolute;
        inset: 0; // Fills the parent (.nav-item)
        background-color: $active-lime;
        border-radius: 50%;
        
        z-index: 1; // Behind the icon
        box-shadow: 0 4px 15px rgba(210, 246, 119, 0.4);
      }

  
      &:not(.active):hover {
        background-color:#D2F561; 
        opacity: 0.3;
      }

      // Active State Text/Icon Color
      &.active {
        color: #000; 
     
        .icon-wrapper {
             transform: scale(1.05);
             transition: transform 0.2s ease;
        }
      }
    }
  }

  .sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    background: #FFFFFF9C;
    backdrop-filter: blur(23.399999618530273px);
    border: 1px solid #0000001A;
    border-radius: 50px;
    padding:0;

    .footer-btn {
      background: none;
      border: none;
      cursor: pointer;
      padding: 12px;
      border-radius: 50%;
      color: #555;
      transition: 0.3s;
      width: 50px;
      height: 50px;
      &:hover {
        background-color: rgba(255, 0, 0, 0.1); 
        color: red; 
      }
    }

    .footer-brand {
      width: 45px;
      height: 45px;
      background: #000;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


@media (max-width: 768px) {
  .sidebar {
    display: none; 
  }
}
