// Widget.scss
.widget {
    width: 100%;

    max-width: 100%; 
    display: flex;
    flex-direction: column;

    background: #FFFFFF54;
    backdrop-filter: blur(19.2px);
    box-shadow: 10px 10px 10px 0px #0000001A;
    border-radius: 40px;
    border: 1px solid #0000001a;
    padding: 24px;


    @media (max-width: 768px) {
        padding: 10px;
        border-radius: 24px;
        
    }

    .widget_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; 

        h1 {
            font-size: 18px;
            font-family: Poppins, sans-serif;
            font-weight: 600;
            color: #333;
            line-height: 100%;

            @media (max-width:768px) {
              font-size: 10px;
            }
        }
        
    
        img {
           opacity: 0.6;
           width: 24px;
           height: 24px;
        }
    }
}
